{% extends "desapp/base_des.html" %}
{% load staticfiles %}

{% block scripts %}
    <script src="{% static 'desapp/scripts/decrypt.js' %}"></script>
{% endblock scripts %}

{% block title %}Decrypt{% endblock title %}
{% block header %}Decrypt page{% endblock header %}

{% block source %}
    <label for="encrypt_bits">Encrypted bits</label>
    <textarea id="encrypt_bits" rows="4" cols="50" class="form-control"></textarea>
{% endblock source %}

{% block convert_source %}
    <label for="encrypt_text">Encrypted text</label>
    <textarea id="encrypt_text" rows="4" cols="50" readonly class="form-control"></textarea>
{% endblock convert_source %}

{% block action %}decrypt{% endblock action %}
{% block action_name %}Decrypt{% endblock action_name %}

{% block label_result %}Decrypted text{% endblock label_result %}
{% block label_result_in_bits %}Decrypted text in bits{% endblock label_result_in_bits %}