{% extends "desapp/base_des.html" %}
{% load staticfiles %}

{% block title %}Encrypt{% endblock title %}
{% block header %}Encrypt page{% endblock header %}

<div>{{ args }}</div>

{% block label_source %}Source text{% endblock label_source %}
{% block source_text %}Text{% endblock source_text %}

{% block label_source_in_bits %}Text in bits{% endblock label_source_in_bits %}
{% block source_text_in_bits %}01010100011001010111100001110100{% endblock source_text_in_bits %}

{% block label_key %}Key{% endblock label_key %}
{% block key_text %}Key{% endblock key_text %}

{% block label_key_in_bits %}Key in bits{% endblock label_key_in_bits %}
{% block key_text_in_bits %}010010110110010101111001{% endblock key_text_in_bits %}

{% block action_name %}Encrypt{% endblock action_name %}

{% block label_result %}Encrypted text{% endblock label_result %}

{% block label_result_in_bits %}Encrypted text in bits{% endblock label_result_in_bits %}