{% extends "desapp/base_des.html" %}
{% load staticfiles %}

{% block title %}Encrypt{% endblock title %}
{% block header %}Encrypt page{% endblock header %}

<div>{{ args }}</div>

{% block source %}
    <label for="source">Source text</label>
    <textarea id="source" rows="4" cols="50" class="form-control">Text</textarea>
{% endblock source %}

{% block convert_source %}
    <label for="source_in_bits">Text in bits</label>
    <textarea id="source_in_bits" rows="4" cols="50" readonly class="form-control">01010100011001010111100001110100</textarea>
{% endblock convert_source %}

{% block label_key %}Key{% endblock label_key %}
{% block key_text %}Key{% endblock key_text %}

{% block label_key_in_bits %}Key in bits{% endblock label_key_in_bits %}
{% block key_text_in_bits %}010010110110010101111001{% endblock key_text_in_bits %}

{% block action_name %}Encrypt{% endblock action_name %}

{% block label_result %}Encrypted text{% endblock label_result %}

{% block label_result_in_bits %}Encrypted text in bits{% endblock label_result_in_bits %}