<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Encrypt</title>
</head>
<body>
    <h1>Encrypt page</h1>
    <div>{{ args }}</div>

    <label>Source text</label>
    <textarea rows="4" cols="50" autofocus>Text</textarea>

    <label>Text in bits</label>
    <textarea rows="4" cols="50" readonly>01010100011001010111100001110100</textarea>

    <label>Key</label>
    <textarea rows="4" cols="50">Key</textarea>

    <lable>Key in bits</lable>
    <textarea rows="4" cols="50" readonly>010010110110010101111001</textarea>

    <button type="button">Encrypt</button>

    <label>Encrypted text</label>
    <textarea rows="4" cols="50"></textarea>

    <label>Encrypted text in bits</label>
    <textarea rows="4" cols="50" readonly></textarea>
</body>
</html>