<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href=" {% static 'desapp/images/fav.png' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'rsapp/scripts/change_keys.js' %}"></script>
    <title>Keys</title>
</head>
<body>
    <h1>Creation keys</h1>

    <form method="post">
        {% csrf_token %}
        <label for="user">User name</label>
        <textarea id="user_name" name="user_name" rows="4" cols="50"></textarea>

        <label for="public_key">Public key</label>
        <textarea id="public_key" rows="4" cols="50">{{public}}</textarea>

        <label for="private_key">Private key</label>
        <textarea id="private_key" rows="4" cols="50" readonly>{{private}}</textarea>

        <button id="change">Create keys</button>
    </form>

    <button id="reload">Reload data</button>
    <!--<button>Create by public key</button>-->
</body>
</html>