<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">

    <link rel="icon" type="image/png" href=" {% static 'desapp/images/fav.png' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'rsapp/scripts/decrypt.js' %}"></script>
    <title>Decrypt</title>
</head>
<body>
    <h1>Decrypt bits</h1>

    <label for="user">User name</label>
    <textarea id="user_name" name="user_name" rows="4" cols="50"></textarea>

    <label for="bits">Bits</label>
    <textarea id="bits" rows="4" cols="50"></textarea>

    <label for="decrypt_text">Decrypted text</label>
    <textarea id="decrypt_text" rows="4" cols="50" readonly></textarea>

    <button id="decrypt">Decrypt</button>
</body>
</html>