<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href=" {% static 'desapp/images/fav.png' %}">
    <title>RSA</title>
</head>
<body>
    <h1>RSA</h1>

    <ul>
        <li><a href="create_keys.html">Generate keys</a></li>
        <li><a href="swap_keys.html">Swap keys</a></li>
        <li><a href="send_text.html">Send text</a></li>
        <li><a href="crypt_text.html">Crypt text</a></li>
        <li><a href="decrypt_bits.html">Decrypt bits</a></li>
    </ul>
</body>
</html>