<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href=" {% static 'desapp/images/fav.png' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'rsapp/scripts/send_text.js' %}"></script>

    <title>Send text</title>
</head>
<body>
    <h1>Send text</h1>

    <label for="server_url">Server URL</label>
    <textarea id="server_url" rows="4" cols="50">{{server_url}}</textarea>

    <label for="input_bits">Input bits</label>
    <textarea id="input_bits" rows="4" cols="50"></textarea>

    <label for="result_bits">Result bits</label>
    <textarea id="result_bits" rows="4" cols="50" readonly></textarea>

    <button id="send">Send text</button>
</body>
</html>