<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href=" {% static 'desapp/images/fav.png' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'rsapp/scripts/send_text.js' %}"></script>

    <title>Send text</title>
</head>
<body>
    <h1>Send text</h1>

    <form method="post">
        {% csrf_token %}

        <label for="server_url">Server URL</label>
        <textarea id="server_url" name="server_url" rows="4" cols="50">{{server_url}}</textarea>

        <label for="user">User name</label>
        <textarea id="user_name" name="user_name" rows="4" cols="50"></textarea>

        <label for="input_bits">Input bits</label>
        <textarea id="input_bits" name="crypt_bytes" rows="4" cols="50"></textarea>

{#        <label for="result_bits">Result bits</label>#}
{#        <textarea id="result_bits" rows="4" cols="50" readonly></textarea>#}

        <button type="submit" id="send">Send text</button>
    </form>
</body>
</html>